body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.conteiner{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto 100px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}


 /*header*/
 .containerHeader{

    display: flex;
    justify-content: space-evenly;
    background-color: rgb(64, 136, 236);
    align-items: center;
}

.containerBusca{
    padding: 10px;
}

.busca{
    padding: 15px 30px;
    width: 100%;
    border-radius: 24px;
    border: 2px solid white;
    text-align: center;
    background: transparent;
    font-size: medium;
}

.busca::placeholder{
    color: white;
    background: url("lupa.png") no-repeat;
    background-position: 30px;
    padding: 10px;
}

.busca:focus{
    border: 1px solid rgba(255, 255, 255, 0.384);
    outline: 0px;
}

.busca:focus::placeholder{
    color: rgba(255, 255, 255, 0.384);
}

.containerLinks{
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.containerLinksA{
    text-decoration: none;
    color: white;
}

.containerLinksA:hover{
    color: #d8d8d8;
}

.linkImagem{
    height: 60px;
    margin-top: 0px;
}
a{
    text-decoration: none;
    text-decoration-color: red;
}

header,main,footer{padding: 10px;}

header{
    grid-area: header;
}

main{
    grid-area: main;
    background: linear-gradient(-45deg, rgb(0, 140, 255), rgb(248, 212, 52));
}



.item{
    display: inline-block;
    /*width: calc(33.33% - 43px);
    min-width: 200px;*/
    background-color: rgb(56, 120, 209);
    color: #fff;
    padding: 50px 20px;
    margin-bottom: 5px;
    text-align: center;
}

.itens a:hover{

    background-image: linear-gradient(to top,#08578c,#0d86d6);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
@media (max-width: 727px) {

    .item{
        width: calc(50% - 43px);
}
}

@media (max-width: 265px) {

    .item{
        width: calc(40% - 43px);
}
}

@media (max-width: 192px) {

    .item{
        width: calc(40% - 43px);
}
}

.itens{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,4fr));
    gap: 5px;
}

.preco_antigo{
    color:red;
}
.preco{
    color: rgb(30, 255, 0);
}



/* Rodapé */

footer{
    grid-area: footer;
    width: 100%;
    min-width: 250px;
    background: rgb(64, 136, 236);
    display: flex;
    justify-content: space-around;
}

.caixas{
    width: 320px;
    min-width: 150px;
    padding: 20px;
}

.caixasTitulo{
    color: #fff;
    margin-bottom: 20px;
}
.caixasLinha{
    
    list-style: none;
}

.caixasTexto{
    color: #fff;
    text-decoration: none;
}

.caixasTexto:hover{
    color: #d8d8d8;
}

.autorais{
    height: 20px;
}

/* Rodapé */
