@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
h1{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p{
    color: #666;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, rgb(0, 140, 255), rgb(248, 212, 52));
}

main{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
    width: 30%;
}

label, input{
    display: inline-block;
    margin-bottom: 10px;
}

label{
    font-weight: bold;
    width: 90px;
}

input{
    width: calc(70% - 30px);
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.botoes{
    text-align: center;
    margin-top: 10px;
}

button{
    font-family: 'Poppins', sans-serif;   
    background: linear-gradient(-45deg, rgb(0, 140, 255), rgb(248, 212, 52));
    color: #d6d6d6;
    border-radius: 20px;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    margin: 5px;
}

button:hover{
    background: linear-gradient(-45deg, rgb(248, 212, 52), rgb(0, 140, 255));
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}